* {

  padding: 0rem;
  margin: 0rem;
  border: 0rem;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito", Helvetica, Arial, sans-serif;

}

img {

  display: block;
  max-width: 100%;
  
}

:root {

  --color-dark: #222222;
  --color-text-primary: #7C7C7C;
  --color-primary: #122AB2;
  --color-secondary: #2C70FF;
  --color-light: #FFFFFF;


  --border-style: 0.125rem solid var(--color-secondary);

}

body {

  width: 100%;
  min-height: 100dvh;
  color: var(--color-dark);
  
}

/* ? Superinfo */

.superinfo-bg {

  background: var(--color-primary);
  color: var(--color-light);

}

.superinfo {

  max-width: 60rem; /* 960px */
  margin: 0 auto;
  padding: 0.625rem 0rem 0rem 0rem; /* 10px 0px 0px 0px */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem; /* 8px */

}

.superinfo p,
.superinfo a {

  margin: 0rem 0.625rem 0.625rem 0.625rem; /* 0px 10px 10px 10px */

}

.superinfo a {

  color: var(--color-light);

}

/* ? Header Menu */

.menu-bg {
  
  background: var(--color-secondary);
  
}

.menu {

  max-width: 60rem; /* 960px */
  margin: 0rem auto; /* 0px auto */
  padding: 0.9375rem 0rem; /* 15px 0px */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem; /* 8px */

}

.menu a {

  color: var(--color-light);

}

.menu-logo a {

  font-size: 2.25rem; /* 36px */
  font-weight: bold;
  margin: 0rem 0.625rem; /* 0px 10px */

}

.menu-nav ul {

  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */

}

.menu-nav a {

  font-size: 20px;
  padding: 0.625rem; /* 10px */
  transition: all 0.5s ease-in-out;

}

.menu-nav a:hover {

  color: var(--color-primary);

}

/* ? Intruduction */

.introduction {

  font-size: 3rem; /* 48px */
  line-height: 1;
  max-width: 60rem; /* 960px */
  margin: 0rem auto; /* 0px auto */
  padding: 3.75rem 0.625rem; /* 60px 10px */
    
}

/* ? About */

.about {

  border-top: var(--border-style);
  border-bottom: var(--border-style);
  padding: 3.75rem 0.625rem; /* 60px 10px */
  max-width: 60rem; /* 960px */
  margin: 0rem auto; /* 0px auto */
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */
  
}

.about-info {

  display: flex;
  flex-direction: column;
  flex: 2 1 18.75rem; /* 300px */
  gap: 1.25rem; /* 20px */
 
}

.about-title {

  font-size: 3rem; /* 48px */
  font-weight: bold;
  margin-bottom: 0.3125rem; /* 5px */
  
}

.about-description {

  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: var(--color-text-primary);

}

.about-img {

  /* height: 180px; */
  flex: 1 1 10rem; /* 160px */ 

}